<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.pujiaxun.taxit</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>40F34018-EA82-4531-8FB3-41068B04D8BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78D68FDF-EE9D-4F39-961B-FDA0B42B6176</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78D68FDF-EE9D-4F39-961B-FDA0B42B6176</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>pujiaxun</string>
	<key>description</key>
	<string>简单计算应征税额的税后收入</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>个税计算器</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>taxit</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>计算中</string>
				<key>script</key>
				<string>require './calc'
query = "{query}"

calc = Calculator.new(query)
puts calc.fk_it
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>calc.py</string>
				<key>subtext</key>
				<string>请输入除去五险一金等之后的收入</string>
				<key>title</key>
				<string>应纳税所得额</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>40F34018-EA82-4531-8FB3-41068B04D8BE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>78D68FDF-EE9D-4F39-961B-FDA0B42B6176</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>40F34018-EA82-4531-8FB3-41068B04D8BE</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>78D68FDF-EE9D-4F39-961B-FDA0B42B6176</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.pujiaxun.com</string>
</dict>
</plist>
